<h1>Bienvenidos al FabiChat</h1>
<div><input id="chatBox"></div>
<div><p id="messageLogs"></p></div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chats.public.js"></script>