<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password" type="text">
        <br/>
        <input type="submit">
    </form>
    <p>¿No estas registardo? <a href="/register">Registrate Aquí</a></p>
    <a href="/api/sessions/github"><button>Ingresar con gitHub</button></a>
</div>
<script src="/js/login.js"></script>